<%= form_for(@contact) do |f| %>
<%= f.error_messages %>

<div class="full clearfix">
  <div class="six columns">
    <p>
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.label :phone, "Contact Phone" %>
      <%= f.text_field :phone %>
    </p>

    <p>
      <%= f.label :email, "Contact Email" %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :notes, "Notes" %>
      <%= f.text_area :notes %>
    </p>

  </div>
</div>

<br>

<%= f.submit "Save Contact", :class => "button" %>

<% end %>
