<div class="clearfix">
  <table>
    <tr class="expense_container">
      <td>
        <%= f.label :label, "Expense" %>
        <%= f.text_field :label %>
      </td>
      <td>
        <%= f.label :amount, "Amount" %>
        <%= f.text_field :amount, :class => "budget-field", :value => (number_with_precision(f.object.amount, :precision => 2 || 0)) %>
      </td>
      <td class="short">
        <%= f.label :_destroy, "Delete", :style => "margin-left:25%" %>
        <%= f.check_box :_destroy, :style => "margin-left:38%" %>
      </td>
    </tr>
  </table>
</div>
