<%= form_for(@gig, :html => {:id => "edit-form"}) do |f| %>
  <%= f.error_messages %>

    <div id="budget_items">
      <%= f.fields_for :budget_items do |item_form| %>
        <%= render :partial => "budget_items/fields", :locals => { :f => item_form } %>
      <% end %>
    </div>

    <div class="button small">
      <%= link_to "Add Income", :controller => "budget_items", :action => "new", :gig_id => @gig.id, :anchor => "budget_items"  %>
    </div>

    <br />

    <div id="expense_items">
      <%= f.fields_for :expense_items do |item_form| %>
        <%= render :partial => "expense_items/fields", :locals => { :f => item_form } %>
      <% end %>
    </div>

    <div class="button small">
      <%= link_to "Add Expense", :controller => "expense_items", :action => "new", :gig_id => @gig.id, :anchor => "expense_items" %>
    </div>

    <%= f.submit "Save Budget", :class => "button small" %>

    <div id="total_readout">
      <span class="subtext2">Total:</span> <br />
      <span id="budget-total"><%= number_to_currency(@sum, :precision => 2 || 0) %></span>
    </div>

<% end %>
