<%= form_for(@gig) do |f| %>
<%= f.error_messages %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

  <%= fields_for @contact do |c| %>
<p>
  <%= c.label :first_name, "First Name" %>
  <%= c.text_field :first_name %>
</p>

<p>
  <%= c.label :last_name, "Last Name" %>
  <%= c.text_field :last_name %>
</p>

<p>
  <%= c.label :phone, "Contact Phone" %>
  <%= c.text_field :phone %>
</p>

<p>
  <%= c.label :email, "Contact Email" %>
  <%= c.text_field :email %>
</p>

<%= c.hidden_field :user_id, :value => @user_id %>

<% end %>

<p>
  <%= f.label :month %>
  <%= select_month(Time.now) %>
</p>

<p>
  <%= f.label :day %>
  <%= select_day(Time.now) %>
</p>

<p>
  <%= f.label :year %>
  <%= select_year(Time.now) %>
</p>

<p>
  <%= f.label :venue %>
  <%= f.text_field :venue %>
</p>

<p>
  <%= f.label :city %>
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :address %>
  <%= f.text_field :address %>
</p>

<p>
  <%= f.label :zip %>
  <%= f.text_field :zip %>
</p>

<p>
  <%= f.label :total_budget, "Total Budget" %>
  <%= f.text_field :total_budget %>
</p>

<%= f.hidden_field :user_id, :value => @user_id %>

<%= f.submit "Save Gig" %>

<% end %>
