
<br />

<h2>My Gigs</h2>

<% if @gigs.empty? %>
You haven't entered any gigs yet. Click Create Gig to get started!
<% end %>

<table>
  <% @gigs.each do |gig| %>
    <tr>
      <td class="bold-table"><%= link_to gig.title, gig %></td>
      <td><%= gig.month %> / <%= gig.day %> / <%= gig.year %></td>
      <td>
        <div class="button tiny"><%= link_to "Budget", edit_gig_path(gig, :form => "budgets") %></div>
        <div class="button tiny">
          <%= link_to "Edit", edit_gig_path(gig, :form => "properties") %>
        </div>
        <div class="button tiny">
          <%= link_to "Delete", gig_path(gig), :method => :delete, :confirm => "Are you sure? Gig WILL be deleted." %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

