<h2><%= @gig.title %></h2>

<div>
  <ul>
      <% @gig.attributes.each do | key, value | %>
    <li>
      <%= key %>: <%= value %>
      <% end %>
    </li>
  </ul>
</div>
<div>
  <ul>
      <% @contacts.each do |contact| %>
    <li>
      <%= contact.first_name %> <%= contact.last_name %>
      <% end %>
    </li>
  </ul>
</div>

<%= link_to "Budget Breakdown", edit_gig_path(@gig, :form => "budgets") %>
